/*Selector {
	Property: value;
	}*/

body{
	background: #7dcdf3;
	display: flex;
	justify-content: flex-end;
}

li{
	list-style: none;
	display: inline-block;

	border:1px solid black;
	border-radius: 5px;

	padding: 4px;

margin: 4px;

}